In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import statsmodels.api as sm
import statsmodels.formula.api as smf

In [2]:
hlth_data = pd.read_stata("finaldata_hlthdemo.dta")
covid_data = pd.read_excel("Covid_data_17Feb2022.xlsx")

In [3]:
hlth_data.head()

,code,country,ccode,year,codeyear,lifeexp,infmort,imm_dpt,imm_msl,sanitation,...,cdum195,cdum196,cdum197,cdum198,cdum199,cdum200,cdum201,cdum202,cdum203,balanced
0,USA,United States,2,1900,USA1900,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,USA,United States,2,1901,USA1901,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,USA,United States,2,1902,USA1902,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,USA,United States,2,1903,USA1903,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,USA,United States,2,1904,USA1904,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [4]:
covid_data.columns=["index", "Country", "Total_cases", "Total_death", "Total_recovered", "Active_cases", "Serious_Critical", "Total_cases_1m_pop", "Deaths_1m_pop", "Total_tests", "Tests_1m_pop", "Population"]
covid_data.head()

,index,Country,Total_cases,Total_death,Total_recovered,Active_cases,Serious_Critical,Total_cases_1m_pop,Deaths_1m_pop,Total_tests,Tests_1m_pop,Population
0,1,USA,79808643,952603.0,50821020.0,28035020.0,13640.0,238836.0,2851.0,934297674.0,2795983.0,3.341571e+08
1,2,India,42754315,510441.0,41910984.0,332890.0,8944.0,30494.0,364.0,755532460.0,538877.0,1.402051e+09
2,3,Brazil,27812210,640868.0,24516591.0,2654751.0,8318.0,129350.0,2981.0,63776166.0,296613.0,2.150149e+08
3,4,France,21976290,135855.0,17986869.0,3853566.0,3371.0,335474.0,2074.0,240847561.0,3676598.0,6.550827e+07
4,5,UK,18447706,160038.0,16342594.0,1945074.0,354.0,269445.0,2337.0,472956041.0,6907940.0,6.846557e+07

In [5]:
# hlth_test = hlth_data.loc[(hlth_data["country"] == "United States") & (hlth_data["year"] == 2002)]
hlth_test = hlth_data.loc[(hlth_data["year"] == 2002)]
hlth_test["Country"] = hlth_data["country"]
result = pd.concat([covid_data, hlth_test], axis=1)
result["country"]

/var/folders/97/wqpkg6153sbcnm16py00_sl80000gn/T/ipykernel_59329/1101427358.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hlth_test["Country"] = hlth_data["country"]

0                          NaN
1                          NaN
2                          NaN
3                          NaN
4                          NaN
                 ...
21140                   Tuvalu
21243         Marshall Islands
21346                    Palau
21449    Micronesia, Fed. Sts.
21552                    Samoa
Name: country, Length: 435, dtype: object

In [6]:
merged = pd.merge(covid_data, hlth_test, on="Country")
merged.head()

,index,Country,Total_cases,Total_death,Total_recovered,Active_cases,Serious_Critical,Total_cases_1m_pop,Deaths_1m_pop,Total_tests,...,cdum195,cdum196,cdum197,cdum198,cdum199,cdum200,cdum201,cdum202,cdum203,balanced
0,2,India,42754315,510441.0,41910984.0,332890.0,8944.0,30494.0,364.0,755532460.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,3,Brazil,27812210,640868.0,24516591.0,2654751.0,8318.0,129350.0,2981.0,63776166.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,4,France,21976290,135855.0,17986869.0,3853566.0,3371.0,335474.0,2074.0,240847561.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,7,Turkey,13173859,91388.0,12267388.0,815083.0,1128.0,153517.0,1065.0,138454773.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,8,Germany,12995206,121265.0,9320700.0,3553241.0,2494.0,154302.0,1440.0,104701826.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [25]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 160 entries, 0 to 159
Columns: 361 entries, index to balanced
dtypes: float32(18), float64(327), int16(2), int64(1), int8(8), object(5)
memory usage: 430.6+ KB

In [8]:
reg = smf.ols("Total_cases_1m_pop  ~ democracy + lifeexp + sanitation", data=merged)
results = reg.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     Total_cases_1m_pop   R-squared:                       0.465
Model:                            OLS   Adj. R-squared:                  0.449
Method:                 Least Squares   F-statistic:                     29.85
Date:                Tue, 08 Mar 2022   Prob (F-statistic):           5.73e-14
Time:                        00:04:49   Log-Likelihood:                -1323.8
No. Observations:                 107   AIC:                             2656.
Df Residuals:                     103   BIC:                             2666.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   -1.21e+05   3.08e+04     -3.932      0.000   -1.82e+05      -6e+04
democracy   2.983e+04   1.22e+04      2.435      0.017    5535.674    5.41e+04
lifeexp     1544.3989    695.745      2.220      0.029     164.554    2924.244
sanitation  1113.5460    334.935      3.325      0.001     449.282    1777.811
==============================================================================
Omnibus:                       45.428   Durbin-Watson:                   1.969
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              138.316
Skew:                           1.501   Prob(JB):                     9.23e-31
Kurtosis:                       7.691   Cond. No.                         498.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

---
First I wanted to test whether total cases were related to whether a country is democratic and/or has a good healthcare.

To start I run a regression with total cases per 1 million, as our dependent, on a (binary) democracy variable, life expectancy and (indexed) sanitation variable. Total cases per 1 million was chosen to avoid, bias towards countries with higher populations. From the results of the regression you can see that all variables are significant at the 95% confidence level. The coefficients do give us some strange results however. Whether or not a country is a democracy seems to increase the number of cases per 1 million by almost 30,000. Life expectancy and sanitation also give way to higher total cases per 1 million. This is a somewhat counter-intuitive reuslt, at first. However, most of the countries in the merged dataset are likely democratic, and many of the wealthier (and healthier) nations probably have higher populations in general and have better reporting systems. I should also note that the 3 independent variables are also from the year 2002 for each available country.

In [24]:
reg2 = smf.ols("Serious_Critical  ~ democracy + lifeexp + sanitation", data=merged)
results2 = reg2.fit()
print(results2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       Serious_Critical   R-squared:                       0.086
Model:                            OLS   Adj. R-squared:                  0.051
Method:                 Least Squares   F-statistic:                     2.443
Date:                Tue, 08 Mar 2022   Prob (F-statistic):             0.0703
Time:                        00:07:58   Log-Likelihood:                -710.44
No. Observations:                  82   AIC:                             1429.
Df Residuals:                      78   BIC:                             1438.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -1551.3072    923.902     -1.679      0.097   -3390.654     288.040
democracy    398.4875    351.605      1.133      0.261    -301.505    1098.480
lifeexp       50.1617     20.188      2.485      0.015       9.971      90.352
sanitation   -20.7573      9.737     -2.132      0.036     -40.143      -1.371
==============================================================================
Omnibus:                      101.825   Durbin-Watson:                   0.714
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1402.306
Skew:                           4.071   Prob(JB):                    3.11e-305
Kurtosis:                      21.551   Cond. No.                         553.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

---
My second regression checks to see if the number of Serious or Critical cases are any different in democratic and/or healthy nations. The results above tell us the a democratic country tends to see higher levels of serious covid cases, however this result is insignificant. Life expectancy also trends positively with serious cases, and is significant at the 95% confidence level. More intuitively we see that sanitation tends to lower the level of serious cases in a country. The former two variables tend to have counter-intuitive results again, but this is likely due to the bias in the number of democratic countries in the sample.

In [46]:
dems = (merged["democracy"] == 1)
count = 0
for i in dems:
    if i == True:
        count += 1
print(count)
print(len(merged["Country"]))

print(f"percentage of countries that are democratic: {91 / 160 * 100}%")

91
160
percentage of countries that are democratic: 56.875%